build
luna_pinyin*
rime_ice.userdb
double_pinyin.schema.yaml
double_pinyin_abc.schema.yaml
double_pinyin_flypy.schema.yaml
double_pinyin_mspy.schema.yaml
double_pinyin_sogou.schema.yaml
double_pinyin_ziguang.schema.yaml
tencent.dict.yaml
*abc.txt
*double_pinyin
*flypy.txt
*mspy.txt
*sogou.txt
*ziguang.txt
cn_en_double_pinyin.txt
cn_en_ziguang.txt
sync
